*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    background-color: #bf960f;
    text-align: center;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    flex-direction: column;
    border: 5px #000000 solid;
}
#color{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
button{
    font-size: 15px;
    color: white;
    background-color: black;
    border: 3px black;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.5;
}
button:hover{
    background-color: rgb(155, 155, 155);    
}