#container-gallery1 {
    min-width: 100vh;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    
    
}

figure1 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-fit: contain;
    margin-inline: 50px;
    
  }

