#container-gallery2 {
    min-width: 100vh;
    min-height: 75vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    
    
}

figure2 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-fit: contain;
    margin: 20px;

    
  }
